body { 
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 12px;
	line-height: 1.5em; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, pacifico;
	background-color: #000;
	background-image: url(images/templatemo_body.jpg);
	background-position: center top;
	background-repeat: no-repeat
}

a, a:link, a:visited { color: #CCFF66; font-weight: normal; text-decoration: none }
a:hover { color: #FFCC00; text-decoration: none; }

ul, li {
	padding:0;
	margin:0;
	list-style:none;
}

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal; }
h1 { font-size: 58px; margin: 0 0 15px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

p { padding: 0; margin: 0 0 15px 0 }

.clear{
	clear:left;
}


blockquote.testimonial_block { background: url(images/testimonial.png) left center no-repeat; padding-left: 40px }
cite { font-weight: bold; color:#fff; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 700; color: #ccc; }


.list_bullet { margin: 0 0 10px 15px; padding: 0; list-style: none }
.list_bullet li { color:#fff; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(images/templatemo_list.png) no-repeat scroll 0 6px  }
.list_bullet li a { color: #fff; font-weight: normal; text-decoration: none }
.list_bullet li a:hover { color: #fff }

.no_bullet { margin: 0; padding: 0; list-style: none }
.no_bullet li { margin: 0 0 20px 0; padding: 0 }
a.header { display: block; font-weight: 700 }

.half { width: 370px }

.h20 { height: 20px }
.h40 { height: 40px }

img { margin: 0; padding: 0; border: none }
.img_border { background: #fff; padding: 4px; border: 1px solid #ccc }
.img_nom { display: inline-block; margin-bottom: 15px }
.img_fl { float: left; margin: 3px 15px 5px 0 }
.img_fr { float: right; margin: 3px 0 5px 15px }

.left { float: left }
.right { float: right }


#templatemo_header {
	width: 800px;
	margin: 0 auto;
	padding: 30px 0;
	position: relative;
}

#templatemo_main {
	width: 800px;
	height: 640px;
	overflow: hidden;
	margin: 0 auto;
}

#templatemo_footer {
	width: 800px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: right
}

#site_title { display: block; margin: 15px 0px; }
#site_title span { color: #fff; font-weight: 500; font-size: 40px; font-family: pacifico;  line-height: 30px; letter-spacing: 4px;
}

#content{
	overflow:hidden;
	width: 7000px;
	position:relative;
	height: 640px;
}

.section {
	position:relative;
	float:left;
	width: 800px;
	height: 487px;
	margin-right: 20px;
}

.section a.slider_nav_btn { position: absolute; top: 0; width: 40px; height: 40px; display: block; background-image: url(images/slider_nav_btn.png);  text-indent: -10000px }
.section a.home_btn { right: 40px; background-position: 80px 0 }
.section a.previous_btn { right: 80px; background-position: 0 0 }
.section a.next_btn { right: 0px; background-position: 40px 0 }

.section h2 { margin-bottom: 40px }

.box { float: left; margin: 0 10px 10px 0 }

.box a { color: #FFFFFF; }

.home_box1 { width: 260px; height: 150px }
.home_box2 { width: 530px; height: 150px }

.color1 { background: #909497 }
.color2 { background: #909497 }
.color3 { background: #909497 }
.color4 { background-image: url(images/interest1.jpg)}
.color5 { background: #909497 }
.color6 { background: #909497 }
.section_color6 { color: #909497 }

.padding_30 { padding: 30px 30px 0 }
.padding_20 { padding: 20px }

#home_gallery a { display: block; float: left; width: 152px; height: 152px; margin: 0 10px 10px 0 }
#home_gallery a.no_mr { margin-right: 0 }

#content .box h2 { margin-bottom: 10px }

#social_links {
	text-align: center;
	padding: 30px 0 0 0
}
#social_links a {
	display: block;
	float: left;
	width: 45px;
	height: 44px;
	margin-left: 30px
}

#gallery {

}

#gallery li {
	float: left;
	width: 260px;
	height: 150px;
	background: none;
	margin: 0 10px 10px 0;
}
#gallery li a {
	display: block;
}
#gallery li a img  { }

#gallery li.no_mr { margin-right: 0 }


#contact_form { padding: 0; width: 330px }
#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { 
	width: 150px; 
	padding: 5px; 
	color: #CCCCCC; 
	border: 1px solid #666666;  
	background: #222222; 
	margin-bottom: 10px; 
	font-family: Tahoma, Geneva, sans-serif;
}

#contact_form form label { display: block; font-size: 11px }

#contact_form form textarea { 
	clear: both; 
	width: 320px; 
	height: 120px; 
	padding: 5px; 
	color: #CCCCCC;
	border: 1px solid #666666;  
	background: #222222; 
	margin-bottom: 10px;
	font-family: Tahoma, Geneva, sans-serif;
}

#contact_form form .submit_btn { 
	font-size: 14px; 
	color: #CCCCCC; 
	cursor: pointer; 
	border: 1px solid #666666; 
	background: #222222; 
	padding: 6px 12px; 
}

.no_mr { margin-right: 0 }


a {
  color: #fff;
  text-decoration: none;
}
.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}
.social {
  position: fixed;
  top: 20px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: red;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
